dash==0.36.0
dash-core-components==0.43.0
dash-html-components==0.13.5
dash-renderer==0.17.0
gunicorn==19.9.0
numpy==1.14.3
pandas==0.23.0
plotly==2.2.2
scikit-learn==0.18.1
scipy==0.18.1
search-google==1.2.1
requests==2.20.0